.loginWrap {
  background: var(--bg);
  color: var(--text-color);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  font-family: var(--font);
  overflow: hidden;

  h1, h2, h3, p {
    font-family: var(--font);
  }

  svg {
    fill: var(--primary);
    width: 20px;
    margin-bottom: 1rem;
  }

  h1 {
    color: var(--text-color);
    align-self: flex-start;
    margin-left: 4rem;
    font-size: 1.4rem;
    font-weight: 300;
  }

  h2 {
    color: var(--text-color);
    align-self: flex-start;
    margin-left: 4rem;
    font-size: 1.1rem;
    font-weight: 300;
  }

  button {
    color: var(--bg);
    background: var(--primary);
    font-family: var(--font);
    height: 60px;
    border-radius: var(--border-radius);

    &:active {
      filter: brightness(1.2);
    }
  }

  .loginButtons {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin: 2rem 0;
    width: 90%;

    button {
      width: 40%;
      height: 45px;
    }
  }

  .loginForm {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 80%;

    input {
      color: var(--text-color);
      width: 100%;
      height: 50px;
      background-color: var(--white);
      border: none;
      border-bottom: 2px solid var(--primary);
      padding-left: 1rem;

      font-family: var(--font);
      font-size: 1rem;
      font-weight: 300;
    }
    input:focus{
      outline: none;
    }

    button {
      margin: 1rem 0;
      width: 100%;
    }
  }

  .loginForgot {
    align-self: flex-end;
    margin-right: 4rem;
  }

  a {
    color: var(--primary);
  }
}