.termsOfServicesWrap {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    background-color: var(--bg);

    .privacyHeader {
        display: flex;
        flex-direction: row;
        width: 100%;
        //border-bottom: 2px solid var(--primary);
        background-color: var(--ion-card-background);
        padding: 10px;

        svg {
            fill: var(--text-color-accent);
            width: 20px;
            aspect-ratio: 1/1;
            transition: 200ms all ease-in-out;
            margin-right: 10px;

            &:active {
                fill: var(--primary);
            }
        }
        h2 {
            color: var(--text-color-accent);
            margin-bottom: 5px;
            margin-left: 10px;
        }
        p {
            color: var(--text-color-accent);
            margin: 0 0 0 10px;
        }
    }

    h1 {
        font-family: var(--font);
        font-size: 2rem;
        font-weight: 600;
        color: var(--text-color);
        align-self: flex-start;
        margin: 4rem 0 1.4rem 2rem;
    }
    h2 {
        font-family: var(--font);
        font-size: 1.5rem;
        font-weight: 500;
        color: var(--text-color);
        margin: 0;
    }
    h3 {
        font-family: var(--font);
        font-size: 1.25rem;
        font-weight: 500;
        color: var(--text-color);
        margin: 0;
    }
    p {
        font-family: var(--font);
        font-size: 1rem;
        font-weight: 300;
        color: var(--text-color);
    }

    button {
        font-family: var(--font);
        font-size: 1rem;
        font-weight: 500;
        color: var(--text-color-accent);
        background-color: var(--primary);
        border: none;
        border-radius: var(--border-radius);
        height: 50px;
        width: 85%;
        padding: 0.5rem 1rem;
        margin: 0 0 1rem;
        cursor: pointer;
        transition: all 0.1s ease-in-out;

        &:active {
            filter: brightness(1.2);
        }
    }

    h2, p {
        margin: 0;
    }
    .privacyContent {
        display: flex;
        flex-direction: column;
        padding: 1rem;
        text-align: justify;

        p {
            margin-top: 0.5rem;
            text-align: left;
        }
        h2 {
            color: var(--primary-contrast);
            font-size: 1.4rem;
            font-weight: 800;
            margin-top: 1rem;
        }
        h3 {
            margin-top: 0.5rem;
            color: var(--primary);
        }
        .bulletsTop {
            margin-top: 0.6rem;
        }
        .bullets {
            position: relative;
            padding-left: 20px; /* Adjust the spacing as needed */

            &::before {
                content: '\2022'; /* Unicode character for bullet point */
                position: absolute;
                top: 0;
                left: 0;
            }
        }
    }
}