.selectCategoryWrap {
  background: var(--bg);
  color: var(--text-color);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-family: var(--font);
  margin: 0;
  overflow: hidden;

  h1, h2, h3, p {
    margin: 0;
    font-family: var(--font);
  }

  h2, p {
    font-size: 1.4rem;
    font-weight: 400;
  }

  .inboxHeader {
    display: flex;
    flex-direction: row;
    width: 100%;
    min-height: var(--header-height);
    align-items: center;
    //border-bottom: 2px solid var(--primary);
    background-color: var(--ion-card-background);
    padding: 10px;

    svg {
      fill: var(--text-color-accent);
      width: 20px;
      aspect-ratio: 1/1;
      margin-right: 20px;
      transition: 200ms all ease-in-out;

      &:active {
        fill: var(--primary-contrast);
      }
    }
    .inboxCopy {
      margin-left: auto;
      margin-right: 20px;
    }
    .inboxMenu {
      width: 7px;
      margin-right: 20px;
    }
    h2 {
      color: var(--text-color-accent);
    }
    p {
      color: var(--text-color-accent);
      margin: 0;
      margin-left: 10px;
      margin-bottom: 0;
    }

    .inboxHeaderLeft {
      display: flex;
      flex-direction: column;
      margin-left: 15px;
    }
  }

  .homeTop {
    --bg-local: #1f2c36;
    display: flex;
    flex-direction: column;
    padding: 2rem;
    padding-bottom: 1rem;
    width: 100%;
    min-height: 100vh;
    background: var(--bg-local);
    color: var(--text-color-accent);

    h2, p {
      margin: 0;
    }
    h2 {
      align-self: flex-start;
      font-size: 1.2rem;
      font-weight: 300;
      margin-top: 1rem;
      color: var(--primary-contrast);
      transition: 200ms all ease-in-out;

      &:active {
        color: var(--text-color-accent);
      }
    }
    button {
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: center;
      border-radius: var(--border-radius);
      background: var(--primary);
      color: var(--primary-contrast);
      padding: 0.5rem;
      margin-top: 1rem;
      transition: all 200ms ease-in-out;

      &:active {
        filter: brightness(1.2);
        color: var(--primary);
      }
    }

    .option {
      background: rgba(0, 0, 0, 0.25);
      min-height: 40px;
      border-radius: var(--border-radius);
      padding: 0.5rem;
      margin-left: 2rem;
      width: 90%;
      margin-top: 10px;
      transition: 200ms all ease-in-out;
      margin-top: 10px;
      margin-bottom: 0;
      padding-left: 1rem;

      a {
        color: var(--text-color-accent);
        font-size: 1rem;
        transition: 200ms all ease-in-out;
      }

      &:active {
        background: rgba(0, 0, 0, 0.45);
      }
    }

    svg {
      fill: var(--text-color-accent);
      width: 20px;
      aspect-ratio: 1/1;
      transition: all 200ms ease-in-out;

      &:active {
        fill: var(--primary-contrast);
      }
    }
    div {
      display: flex;
      flex-direction: column;
      align-items: center;
      margin-bottom: 10px;

      .chart {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin-bottom: 5px;

        .chartFill {
          width: 5rem;
          aspect-ratio: 1/1;
          color: var(--text-color-accent);
          align-items: center;
          justify-content: center;
          background: var(--bg-local);
          border: 5px solid var(--primary-contrast);
          border-radius: 100%;
        }
      }
    }
  }

  .homeBottom {
    display: flex;
    flex-direction: column;
    padding: 2rem;
    padding-bottom: 1rem;
    width: 100%;
    color: var(--text-color);

    h2, p {
      margin: 0;
    }
    h2 {
      font-size: 1.2rem;
      font-weight: 300;
    }
    a {
      color: var(--primary);
      font-size: 0.8rem;
      font-weight: 500;

      &:active {
        color: var(--primary-contrast);
      }
    }

    div {
      display: flex;
      flex-direction: row;
      margin-bottom: 10px;
    }

    .earning {
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: center;
      border: 2px solid var(--primary);
      padding: 1rem;
      border-radius: var(--border-radius);

      p {
        font-size: 1rem;
        font-weight: 400;
      }

      .notification {
        flex-direction: row;
        text-align: justify;
        margin-bottom: 0;

        .fill {
          display: flex;
          flex-direction: row;
          justify-content: center;
          align-items: center;
          width: 40px;
          height: 40px;
          color: var(--primary-contrast);
          background: var(--primary);
          border-radius: 100%;
          margin: 0;
          margin-left: auto;
        }
      }
    }
  }
}